@charset "utf-8";

/*
Author: Bryan Flores
Date: 9/29/2021
*/

html{
    background-color: rgb(10, 73, 114);
    background-image: url(OxbloodImages/background-image3.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

div #logo {
    margin-top: 2em;
    margin-left: 4em;
}

#header-wrapper {
    max-height: 25%;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    font-size: 3.5em;
    font-weight: 1000;
    color: rgb(8, 2, 1);
    font-family: 'Roboto Slab', sans-serif;
}

#nav-wrapper {
    max-width: 25%;
    height: 100%;
    max-height: 25%;
    float: left;
    clear: left;
}

.images-wrapper {
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 75px;
    margin-bottom: 75px;
    padding: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border-style: double;
    border-color: rgb(204, 203, 192);
    max-width: 80%;
    max-height: max-content;
}

.images-wrapper > a {
    opacity: 0.9;
    margin: 6px;
}

.oxbloodimages {
    height: 300px;
    width: 200px;    
    object-fit: cover;
}

nav {
    margin-left: 45px;
    list-style-type:none;
    font-size: 1.5em;
    list-style: url(OxbloodImages/bullet.jpg);
    font-family: 'Roboto Slab', sans-serif;
}

nav.vertical {
    top: 80px;
    left: 0;
    max-width: 15%;
    max-height: 20%;
}

nav.vertical a {
    text-decoration: none;
    color: #000;
}

nav.vertical a:visited {
    color: black;
}

nav.vertical a:hover {
    color: rgb(83, 25, 28);
    text-decoration: underline;
}

nav > ul {
    line-height: 3em;
}

#ig-logo {
    background-attachment: fixed;
    float: left;
    clear: left;
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 80px;
}

#bottom-logo {
    float: right;
    clear: right;
    padding-right: 100px;
    padding-bottom: 80px;
}